<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MEventMapper">

    <resultMap type="MEvent" id="MEventResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="userId"    column="user_id"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="status"    column="status"    />
        <result property="deleted"    column="deleted"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="description"    column="description"    />
        <result property="bclass"    column="bclass"    />
        <result property="column1"    column="column1"    />
        <result property="column2"    column="column2"    />
        <result property="column3"    column="column3"    />
        <result property="img"    column="img"    />
        <result property="column4"    column="column4"    />
        <result property="column5"    column="column5"    />
        <result property="video"    column="video"    />
    </resultMap>

    <sql id="selectMEventVo">
        select id, title, content, user_id, gmt_create, status, deleted, gmt_modified, description, bclass, column1, column2, column3, img, column4, column5, video from m_event
    </sql>

    <select id="selectMEventList" parameterType="MEvent" resultMap="MEventResult">
        <include refid="selectMEventVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="bclass != null  and bclass != ''"> and bclass = #{bclass}</if>
            <if test="column1 != null  and column1 != ''"> and column1 = #{column1}</if>
            <if test="column2 != null  and column2 != ''"> and column2 = #{column2}</if>
            <if test="column3 != null  and column3 != ''"> and column3 = #{column3}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="column4 != null  and column4 != ''"> and column4 = #{column4}</if>
            <if test="column5 != null  and column5 != ''"> and column5 = #{column5}</if>
            <if test="video != null  and video != ''"> and video = #{video}</if>
        </where>
    </select>

    <select id="selectMEventById" parameterType="Long" resultMap="MEventResult">
        <include refid="selectMEventVo"/>
        where id = #{id}
    </select>

    <insert id="insertMEvent" parameterType="MEvent" useGeneratedKeys="true" keyProperty="id">
        insert into m_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null">content,</if>
            <if test="userId != null">user_id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="status != null">status,</if>
            <if test="deleted != null">deleted,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="description != null">description,</if>
            <if test="bclass != null">bclass,</if>
            <if test="column1 != null">column1,</if>
            <if test="column2 != null">column2,</if>
            <if test="column3 != null">column3,</if>
            <if test="img != null">img,</if>
            <if test="column4 != null">column4,</if>
            <if test="column5 != null">column5,</if>
            <if test="video != null">video,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="status != null">#{status},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="description != null">#{description},</if>
            <if test="bclass != null">#{bclass},</if>
            <if test="column1 != null">#{column1},</if>
            <if test="column2 != null">#{column2},</if>
            <if test="column3 != null">#{column3},</if>
            <if test="img != null">#{img},</if>
            <if test="column4 != null">#{column4},</if>
            <if test="column5 != null">#{column5},</if>
            <if test="video != null">#{video},</if>
        </trim>
    </insert>

    <update id="updateMEvent" parameterType="MEvent">
        update m_event
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            <if test="description != null">description = #{description},</if>
            <if test="bclass != null">bclass = #{bclass},</if>
            <if test="column1 != null">column1 = #{column1},</if>
            <if test="column2 != null">column2 = #{column2},</if>
            <if test="column3 != null">column3 = #{column3},</if>
            <if test="img != null">img = #{img},</if>
            <if test="column4 != null">column4 = #{column4},</if>
            <if test="column5 != null">column5 = #{column5},</if>
            <if test="video != null">video = #{video},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMEventById" parameterType="Long">
        delete from m_event where id = #{id}
    </delete>

    <delete id="deleteMEventByIds" parameterType="String">
        delete from m_event where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>